.main {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 0% 1.5%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 120px;
}

.nav-links {
  flex: 1;
  text-align: left;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff0000;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}
