* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.picHover:hover {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.3s;
  box-shadow: 0 0 7px 7px #ff0000;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 3px solid #4ac34a;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 5px solid #4ac34a;
  box-shadow: 0 0 20px 20px #ff0000;
  background: #ffffff;
  color: #000000;
  transition: 2s;
}
